* {
  font-family: 'Poppins', sans-serif;;
}
.banner{
    background-image: url(/images/background.jpg);
    padding-bottom: 300px;
    padding-top: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}
.profile{
  border-radius: 8px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.25);
  margin-left: 50px;
}
.about{
  margin-top: 100px;
  margin-bottom: 100px;
}
.skills-padding{
  padding: 70px 10px;
}
.calculator{
  padding: 0px 0px 0px 200px;
}
.skills-images{
  height: 100px;
  width: 100px;
  margin-left: 95px;
}
.skills-set{
  padding-bottom: 30px;
}
.html-para{
  padding-bottom: 25px;
}
.js-para{
  padding-bottom: 50px;
}
.ps-para{
  padding-bottom: 25px;
}
.project-padding{
  padding-bottom: 20px;
}